[package]
name = "{{ project_name }}"
version = "0.1.0"
edition = "2024"

[dependencies]
godot = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }

[lib]
crate-type = ["cdylib"]
